#ignore python cashe folders
*/__pycache__/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.hypothesis/*
*.pyc
/src/__pycache__/*
*.log
*.test.ipynb
*.ipynb_checkpoints
data/*
*.csv
*.parquet
*.pth
ice-cube-final-models/*
*.pages
*.pdf
